

<header class="header">
        <div class="header-container">
           <div class="wrapper">
                <a id="username">Username</a>
                <a id="sign-in">Log in</a>
           </div>
        </div>
    </header>

    <div class="modal-background">
        <div class="modal-login">
            <div class="wrap">
                <form action="" method="post" class="login-form">
                    <input type="text" placeholder="Enter login" class="input"> 
                        <span class="login-validation input-validation"></span>
                    <input type="password" placeholder="Enter password" class="input"> 
                        <span class="password-validation input-validation"></span>
                    <input type="submit" value="Sign in" class="input">
                    <span class="modal-close">Close</span>
                </form>
                
            </div>
        </div>
    </div>

<link rel="stylesheet" href="/stylesheets/header.css">
<script src="javascripts/header.js"></script>


<!-- if (username) {
   let signIn = document.getElementById('sign-in');
   signIn.innerHTML = 'Log out'
} -->

